# Eclipse
api-persons/.classpath
api-persons/.project
api-persons/.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
api-persons/log/
api-persons/target/


# npm
# compiled output
persons-project/dist
persons-project/tmp
persons-project/out-tsc

# dependencies
persons-project/node_modules

# IDEs and editors
persons-project/.idea
persons-project/.project
persons-project/.classpath
persons-project/.c9/
persons-project/*.launch
persons-project/.settings/
persons-project/*.sublime-workspace

# misc
persons-project/.sass-cache
persons-project/connect.lock
persons-project/coverage
persons-project/libpeerconnection.log
persons-project/npm-debug.log
persons-project/yarn-error.log
persons-project/testem.log
persons-project/typings

# System Files
persons-project/.DS_Store
persons-project/Thumbs.db
